// COLORS
$primary-color: #ff5309;
$secondary-color: #ff5309;

$white-color: #fff;

$dark-grey: #212121;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 6rem;
$mid-font-size: 4.5rem;
